/*FOOTER*/
.foot {
  background: #9ECEFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  color: #87119A;
}

.foot p {
  font-size: 16px;
}